In [1]:
import pandas as pd


data = pd.read_csv("beverage_r.csv", sep=";")

Задача 1

In [5]:
from sklearn.model_selection import train_test_split


train_data, test_data = train_test_split(data, test_size=0.33, random_state=42)

print('Длина тренировочного набора:', len(train_data))
print('Длина тестового набора:', len(test_data))

Длина тренировочного набора: 22
Длина тестового набора: 12

Задача 2

In [26]:
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

part_size = len(data) // 4
parts = [data.iloc[i*part_size:(i+1)*part_size] for i in range(4)]
for i in range(len(data) % 4):
    parts[i] = pd.concat([parts[i], data.iloc[part_size*4 + i:part_size*4 + i + 1]])

for part in parts:
    print(len(part))

9
9
8
8

Задача 3

Не понял, что тут минералка, поэтому пусть вместо нее будет спрайт

In [22]:
data['stratify_col'] = data['D_COKE'].astype(str) + '_' + data['SPRITE'].astype(str)
train_data, test_data = train_test_split(data, test_size=0.5, stratify=data['stratify_col'], random_state=42)

In [23]:
train_data['stratify_col'].value_counts()

stratify_col
1_0    7
0_0    4
0_1    4
1_1    2
Name: count, dtype: int64

In [24]:
test_data['stratify_col'].value_counts()

stratify_col
1_0    7
0_0    5
0_1    4
1_1    1
Name: count, dtype: int64